# fly.toml app configuration file generated for p2p-signal on 2026-01-03T00:15:47Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'p2p-signal'
primary_region = 'ewr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "data"
  destination = "/data"

